
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);



  /*
#menu{
    margin-left: 50px;
    padding: 0;
    margin-top: 30px;
    background-color: #c6c6c6;
    width: 840px; 
 }
 #menu li{
   list-style: none;
   display: inline-block;
   border-style: solid;
   border-width: 1px;
   border-color: #262626;
   
 }
 #menu li a{
   text-decoration: none;
   position: relative;
   color: #313131;
   font-size: 14px;
   font-weight: 170px;
   font-family: sans-serif;
   display: block;
   overflow: hidden;
   transition: 0.7s all;
   padding: 14px 20px;
   text-transform: uppercase;
 
 }
 
 #menu li a:before{
   content: '';
   width: 40px;
   position: absolute;
   border-bottom: 3px solid #313131;
   bottom: 0;
   right: 350px;
   transition: 0.7s all;
 }
 #menu li a:hover:before{
   right: 0;
 }
 /*table {
   float: left;
  margin-left: 50px;
  border: 1px solid black;
  background-color: rgba(112, 245, 245, 0.582);
  font-size: 27px;


}

  th {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  font-size: 27px;

}
*/

body { 
  margin:0 auto;
  padding: 0;
  width: 990px;
  background-color: #90A9B7;

  
}



div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:10px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:200;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
/*---------------------------------------------------------------------------------*/ 
    
.caixacomandos{
  font-size: 14px;
  margin-left: 850px;
  position: relative;
  width: 180px; 
  height: 200px;
  background-color: rgb(180, 241, 238);
  border-style: dotted;
  


}
.caixacomandos a{
  font-size: 10px;
  height: 30px;
  width: 70px;
  position: absolute;
  margin-left: 50px;
  border: 1px solid;
  text-decoration: none;
  color: #313131;
  font-size: 24px;
}


.caixacomandoslogs{
  margin-left: 850px;
  position: relative;
  width: 180px; 
  height: 200px;
  background-color: rgb(180, 241, 238);
  border-style: dotted;
  


}
.caixacomandoslogs a{
  height: 30px;
  width: 130px;
  position: absolute;
  margin-left: 23px;
  border: 1px solid;
  text-decoration: none;
  color: #313131;
  font-size: 22px;
}
.estadocliente{
  margin-top: 200px; 
  width: 300px;
  height:50px;
  background-color: #70707091;
  margin-left: 600px;
display: inline-block;
vertical-align:top

}

.icon{  
  width: 10px;
  height: 10px;


}
.textoestado{
  float:left;
}
/*-----------------------------------Clientemenu--------------------------------------------------*/
.dropdown {
  margin-top: 40px;
  background-color: rgba(180, 241, 238, 0.466);
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgba(180, 241, 238, 0.883);
  padding: 4px 4px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(65, 247, 238, 0.541);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(224, 245, 243);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(3, 194, 241);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*-----------------------------------CaixaEmail Não Funciona--------------------------------------------------*/


.caixaemail{
  float: right;
  margin-top: 200px;
  width: 600px;
  height: 50px;
  background-color: rgba(125, 255, 212, 0.507);
}

/*-----------------------------------Menu--------------------------------------------------*/
ul.vert-one{margin:0;padding:0;list-style-type:none;display:block;
  font:bold 16px Helvetica, Verdana, Arial, sans-serif;
  line-height:165%;
  width:200px;
  float:left
}
  
  ul.vert-one li{margin:0;
    padding:0;
    border-top:1px solid #D4AA7D;
    border-bottom:1px solid #EFD09E;
}
  
  ul.vert-one li a{
    display:block;
    text-decoration:none;
    color:#fff;
    background:#D4AA7D;
    padding:0 0 0 20px;
    width:180px;
    height:30px;
  }
  
  ul.vert-one li a:hover{
  background:#EFD09E;
}
  
  ul.vert-one li a.current,ul.vert-one li a.current:hover{
  background:#EFD09E;
}

